.donar-page .navbar {
    background-color: #31909A;
  }
  
  .donar-page .navbar a {
    color: #FFFFFF;
  }

  .donar-page {
    overflow: hidden;
  }

  .donar-container {
    background-color: #31909A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    padding: 0 200px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .rectdonar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    opacity: 0; 
    animation: appear 4s forwards; 
    margin-top: 150px;
  }

  .rectdonar-container2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 150px;
    opacity: 0; 
    animation: appear 4s forwards; 
  }
  
  .rectdonar-container:hover {
    transform: scale(1.1);
  }

  .rectdonar-container2:hover {
    transform: scale(1.1);
  }

  
  
  .rectangulo4::before {
    position: absolute;
    top: 125px;
    left: -50px;
    content: '';
    transform: translate(-50%, -50%);
    width: 450px;
    height: 250px;
    background-color: whitesmoke;
    opacity: 1;
    border-radius: 50px;
    z-index: 3;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #5C45D2;
    margin-right: 50px;
  }

  .rectangulo5::before {
    position: absolute;
    top: 95px;
    left: 205px;
    content: '';
    transform: translate(-50%, -50%);
    width: 450px;
    height: 250px;
    opacity: 1;
    border-radius: 50px;
    z-index: 3;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FEB2A4;
    margin-left: 50px;
  }


  .donar-img{
    width: 200px;
    height: 200px;
    z-index: 4;
    position: relative;
    bottom: 160px;
    left: 140px;
  }
  
  .economico-img {
    width: 250px;
    height: 250px;
    z-index: 4;
    position: relative;
    bottom: 200px;
    right: 170px;
  }
  

  .economico-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: -160px;
    right: 170px;
    z-index: 3;
  }

  .donar-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: -140px;
    right: -154px;
    z-index: 3;
  }

  .economico-txt h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #FEB2A4;
    margin-top: 0;
  }

  .economico-txt h3{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-top: 0;
  }

  .donar-txt h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #EE4838;
    margin-top: 0;
  }

  .donar-txt h3{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    margin-top: 0;
  }
  
  
  @media only screen and (max-width: 768px) {
    .donar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    }
    
    .rectdonar-container {
    width: 80%; 
    max-width: 300px; 
    margin: 10px auto; 
    margin-top: 100px;
    margin-right: 300px;
    }
    
    .rectdonar-container2 {
    width: 80%; 
    max-width: 300px; 
    margin: 10px auto;
    margin-top: 250px;
    margin-left: 350px;
    }

    .donar-txt {
      left: 118px;
    }

    .donar-page .navbar {
      z-index: 4;
    }
    .donar-page .navbar a {
      color: #FFFFFF;
    }

    .donar-page .navbar-toggle span {
      background-color: #ffffff;
    }
    }
  